Skills/

__pycache__/
*.pyc
*.py[cod]
*.egg-info/
simpute.egg-info/
.eggs/
dist/
build/
.pytest_cache/
.venv/
venv/
catboost_info/
delete/

# Testing and Coverage
.coverage
htmlcov/
.tox/

# OS Specific
.DS_Store
Thumbs.db
